<!doctype html>
<h1>Hello from {{ solutionName }}</h1>

<h2>brought to you by {{ supplierName }}</h2>

<h2>Terms And Conditions</h2>

<p>Please provide some details and confirm you want to pay us a gazillion bitcoins every month to use this
    great solution that works with <em>{{ productName }}</em>
</p>

<form action="/acceptance" method="post">
    <input type="hidden" id="myProductId" name="myProductId" value="{{myProductId}}" >
    <input type="hidden" id="orgId" name="orgId" value="{{orgId}}" >
    <input type="hidden" id="connectionToken" name="connectionToken" value="{{connectionToken}}" >
    <input type="hidden" id="productId" name="productId" value="{{productId}}" >
    <input type="hidden" id="productName" name="productName" value="{{productName}}" >
    <input type="text"   id="customerName" name="customerName" value="{{customerName}}" >
    <label for="customerName">Your Organisation name (for legal purposes)</label><br>
    <input type="radio"  id="yes" name="acceptance" value="yes">
    <label for="yes">Yes</label><br>
    <input type="radio"   id="no" name="acceptance" value="no">
    <label for="no">No</label><br>
    <input type="submit" value="Submit">
</form>

