<!doctype html>
<h1>Hello from {{ solutionName }}</h1>

<h2>brought to you by {{ supplierName }}</h2>

You already have access to {{ solutionName }} and no further setup is required.

If you want to stop using  {{ solutionName }} please select "Disconnect" from the "..." menu above

